@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kreon:wght@300;400&display=swap');

$font-family-primary: 'Kreon', serif;

$font-size-s: 18px;
$font-size-m: 20px;
$font-size-xl: 64px;
$font-size-xxl: 96px;
